<div class="main">
    <div class="top">
      <div class="logo"></div>
      <div class="logotext">
          <ul>
              <li class="logotextstyle1">Welcome to CS732</li>
          </ul>
      </div>  
    </div>
    <div class="middle">
      <router-outlet></router-outlet>
    </div>
  
    <div class="bottom">
      <div class="bottomtext">
        <ul>
            <li>Contact</li>
            <li>Related Laws</li>
            <li>Site Map</li>
            <li>Help center</li>
            <li>Terms of Uses</li>
        </ul>
     </div>
    </div>
  </div>